// ========================================
// variables
// ========================================
$color-red: #6e0606;
$color-darkred: #160300;
$color-lightkred: #ee1d23;
$color-gold: #ff8e0c;
$color-white: #f0f0f0;
$color-black: #0f0f0f;

